<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<meta charset="utf-8">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		<style>
		#note_list{
			margin :0 auto;
			max-width:700px;
			min-width: :300px;
		}
		.note{
			margin :0 auto;
			padding: 10px;
			max-width:600px;
			min-width: :200px;
		}
		</style>
		{% block head %}
			<title>{% block title %}{% endblock %}</title>
		{% endblock %}
	
	</head>
	<body>
		<div id="content">

			{% block content %}
			{% endblock %}
		</div>
		<div id="footer">
			<script>
			</script>
		</div>
	</body>
</html>