{% extends "note_app/base.html" %}

{% block title %}My notes{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-md-3">
			<a href="{% url 'main' %}">Main Page</a>
			<a href="{% url 'add_note' %}">Add note</a>
		</div>
		<div id="note_list" class="col-xs-6 col-md-6"></div>
		<div class="col-xs-6 col-md-3">
			<a href="{% url 'logout' %}"> {{user.username}}, log out</a>
		</div>

	</div>
</div>
	<script>
		$.get("http://localhost:8000/restframe/mynote_list_api/",
		//get list of user notes
		function(note_list){
			note_list.forEach(function(item){
				var tags='';
				item.tag.forEach(function(item1){tags+= " " + item1['name'] + " "});
				var categorys='';
				item.category.forEach(function(item2){categorys+= "/" + item2['name']});
				var mediass='';
				var vidioss='';
				var filess='';
				item.medias.forEach(function(item2){
					if (String(item2['file_type'])==String('i')){
						mediass+=  "<img style='height:100px; padding:5px;' src='"+ item2['media']+"'/>"
					}
					if (String(item2['file_type'])==String('f')){
						filess+= "<a href='"+ item2['media']+"'>View document</a>"
					}
					if (String(item2['file_type'])==String('v')){
						vidioss+= "<video width='auto' max-height='300' controls='controls' poster='/media/diff_media/cat_grooming.png'>"
										+"<source src='"+ item2['media']+"' type='video/mp4; codecs='avc1.42E01E, mp4a.40.2>"
										+"Тег video не поддерживается вашим браузером. "
									"</video>"
					}						
				});
				$("#note_list").append(
					"<pre>"
						+"<div class='note' style=''>"
							+"<a href= '/note/"+item.pk+"' style='text-decoration: none;'>"
							+"<p class='text-center'>"+categorys+"</p>"
							+"<blockquote>"
							+"<p class='text-center' style='color:"+item.color+"; font:14pt "+ item.font +"; padding:10px;'>"+item.title+"</p>"
							+"<p style='color:"+item.color+"; font:12pt "+ item.font +"; padding:10px;'>"+item.text+"</p>"
							+"</blockquote>"
							+"</a>"
							+mediass
							+"<br>"
							+filess
							+"<br>"
							+"<p class='text-right'>"+tags+"</p>"

							+vidioss		
						+"</div>"
					+"</pre>"
				);
			});				
		});
	</script>
{% else %}
<a href="{% url 'avtorizapi' %}">You must authorize</a>
<a href="{% url 'register' %}">or register</a>
{% endif %}
{% endblock %}
+"<p class='text-center'>"+categorys+"</p>"