{% extends "note_app/base.html" %}

{% block title %}My notes{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-md-3">
			<a href="{% url 'mynote_list' %}">All my notes</a>
		</div>
		<div id="note_list" class="col-xs-6 col-md-6"></div>
		<div class="col-xs-6 col-md-3">
			<a href="{% url 'logout' %}"> {{user.username}}, log out</a>
		</div>

	</div>
</div>

	<script>
		$.get("http://localhost:8000/restframe/mynote_list_api/{{pk}}",
		// get note by id
		function(note_list){
			var tags='';
			note_list.tag.forEach(function(item){tags+= " " + item['name'] + " "});
			var categorys='';
			note_list.category.forEach(function(item){categorys+= "/" + item['name']});
			var mediass='';
			var vidioss='';
			var filess='';
			note_list.medias.forEach(function(item2){
				if (String(item2['file_type'])==String('i')){
					mediass+=  "<img style='height:100px; padding:5px;' src='"+ item2['media']+"'/>"
				}
				if (String(item2['file_type'])==String('f')){
					filess+= "<a href='"+ item2['media']+"'>File</a>"
				}
				if (String(item2['file_type'])==String('v')){
					vidioss+= "<video width='auto' max-height='300' controls='controls' poster='/media/diff_media/cat_grooming.png'>"
									+"<source src='"+ item2['media']+"' type='video/mp4; codecs='avc1.42E01E, mp4a.40.2>"	
									+"Тег video не поддерживается вашим браузером. "
								"</video>"
				}						
			});

			$("#note_list").append(
				"<pre>"
					+"<div class='note''>"
						+"<a href= '/edit_note/"+note_list.pk+"'>Update</a>"
						+"<p class='text-center' style='color:#337ab7;'>"+categorys+"</p>"
						+"<blockquote>"
						+"<p class='text-center' style='color:"+note_list.color+"; font:14pt "+ note_list.font +"; padding:10px;'>"+note_list.title+"</p>"
						+"<p style='color:"+note_list.color+"; font:12pt "+ note_list.font +"; padding:10px;'>"+note_list.text+"</p>"
						+"</blockquote>"
						+mediass
						+"<br>"
						+filess
						+"<br>"
						+"<p class='text-right'>"+tags+"</p>"
						+vidioss		
					+"</div>"
				+"</pre>"
			);
		});
	</script>
{% else %}
<a href="{% url 'avtorizapi' %}">You must authorize</a>
<a href="{% url 'register' %}">or register</a>
{% endif %}
{% endblock %}