{% extends "note_app/base.html" %}

{% block title %}Add Note{% endblock %}
{% block content %}
{% if user.is_authenticated %}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-md-3">
			<a href="{% url 'mynote_list' %}">All my notes</a><br>
			<a href="{% url 'add_tag' %}">Add tags</a><br>
			<a href="{% url 'add_category' %}">Add category</a><br>
			<a href="{% url 'add_media' %}">Add media</a><br>
			<a href="{% url 'add_permission' %}">Give permission</a>
		</div>


		<div id="note_list" class="col-xs-6 col-md-6">
			<form action="{% url 'add_note' %}" enctype="multipart/form-data" method="POST" class="form-horizontal">{% csrf_token %}
			 	<div class="form-group">
					<label class="col-sm-4 control-label">Title</label>{{form.title}}
				</div>
				 <div class="form-group">
					<label class="col-sm-4 control-label">Text</label>{{form.text}}
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Category</label>{{form.category}}
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Color</label>{{form.color}}
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Font</label>{{form.font}}
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">Tags</label>{{form.tag}}
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label">All users can see</label>{{form.permiss_all_users}}
				</div>
				<div class="form-group">
					<div class="col-md-6 col-md-offset-3">
					<input type="submit" value="add" class="btn btn-primary" style="margin:0 auto;"/> 
					</div>
				</div>
			</form>
		</div>


		<div class="col-xs-6 col-md-3">
			<a href="{% url 'logout' %}"> {{user.username}}, log out</a>
		</div>

	</div>
</div>

{% else %}
<a href="{% url 'avtorizapi' %}">You must authorize</a>
<a href="{% url 'register' %}">or register</a>
{% endif %}
{% endblock %}