{% extends "note_app/base.html" %}

{% block title %}Edit permission{% endblock %}
{% block content %}
{% if user.is_authenticated %}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-6 col-md-3">
			<a href="{% url 'mynote_list' %}">All my notes</a>
			<a href="{% url 'add_note' %}">Add note</a>
		</div>


		<div id="note_list" class="col-xs-6 col-md-6">
			<form action="{% url 'add_permission' %}" method="POST" class="form-horizontal">{% csrf_token %}
					{{form.as_p}}
					<input type="submit" value="add" class="btn btn-primary" style="margin:0 auto;"/> 
			</form>
		</div>


		<div class="col-xs-6 col-md-3">
			<a href="{% url 'logout' %}"> {{user.username}}, log out</a>
		</div>

	</div>
</div>

{% else %}
<a href="{% url 'avtorizapi' %}">You must authorize</a>
<a href="{% url 'register' %}">or register</a>
{% endif %}
{% endblock %}