{% extends "user_app/base.html" %}

{% block title %}Author{% endblock %}
{% block content %}


	<div class="container-fluid">
		<form action="{% url 'avtoriz' %}" method="post" class="list-group-item">
			{% csrf_token %}
			<div class="form-group">
				{{ form.as_p }}
			</div>
			<input type="submit" id="but" value="Send" class="btn btn-default btn-lg"/>
		</form>
	</div>
{% endblock %}