{% extends "user_app/base.html" %}

{% block title %}Register{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<p>You are already in as:{{user.username}}</p>
<a href="{% url 'logout' %}">Log out</a><br>
<a href="{% url 'main' %}">Main page</a>
{% else %}
	<div class="container-fluid">
		<form action="{% url 'register' %}" method="post" enctype="multipart/form-data" class="list-group-item">
			{% csrf_token %}
			<div class="form-group">
				{{ form.as_p }}
			</div>
			<input type="submit" value="Register" class="btn btn-default btn-lg"/>
		</form>
	</div>
{% endif %}
{% endblock %}