 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
	<link rel="stylesheet" href="css.css" />
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	<title></title>
	</head>
	<body>
		<form action="{% url 'review_book' %}" method="post" class="list-group-item">{% csrf_token %}
			<div  style="display:inline-block;">
				<label for="your_name" style="float:left; width:100px;">Book name:</label>
					<select id="id_book_name" name="book_name" style="width:200px;"> 
					{% for val, txt in form.fields.book_name.choices %}
						<option value="{{ val }}">{{ txt }}</option>
						}
					{% endfor %}
					</select>
			</div>
			<div>
				<label for="your_name" style="float:left; width:100px;">Text:</label>
				<textarea id="book_name" name="text" style="width:200px;">{{ form.form.text}} </textarea>
			</div>   
			<input type="submit" value="send"/>
		</form>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script
</html>