{% extends "reader/base.html" %}

{% block title %}All Author{% endblock %}
{% block content %}
<h1>Authors</h1>

<div class="container-fluid">

	<div class="row">
	<form  action="" method="post" class="list-group-item">{% csrf_token %}
		<input name="text" type="text"/>
		<input type="submit" value="Send" class="btn btn-default"/><br>
		<button><a href="{% url 'authorform' %}">Add author</a></button><br>
		<div class="col-xs-8">
		{% load cache %}
		{% cache 60 allauthors %}
			<table >
				<thead>
				<tr>
					<th>Id</th>
					<th>First Name</th>
					<th>Last Name</th>		
					<th>Email</th>
					<th>Photo</th>
				</tr>
				</thead>
				{% for author in author_list %}
				 <tr>
				 	<td><a href="{%url 'authorid' author.pk %}" style="text-decoration: none;">{{ author.pk }}</a></td>
					<td><a href="{%url 'authorid' author.pk %}" style="text-decoration: none;">{{ author.first_name|capfirst }}</a></td>
					<td><a href="{%url 'authorid' author.pk %}" style="text-decoration: none;">{{ author.last_name|capfirst }}</a></td>	
					<td><a href="{%url 'authorid' author.pk %}"  style="text-decoration: none;">{{ author.email }}</a></td>
					<td>
					{% if  author.avatar %}
						<img style="width:200px;" src="../media/{{ author.avatar }}" alt="{{ author.avatar }}" id="image{{author.pk}}" />
					{% endif %}
					</td>
				</tr>
				{% empty %}
				<tr>No author</tr>
				{% endfor %}
			</table>
			{% endcache %}
		</div>
	</form>
	</div>
</div>
<div id="test_list">
</div>
{% endblock %}