{% extends "reader/base.html" %}

{% block title %}Add Author{% endblock %}
{% block content %}
{% if user.is_authenticated %}
	<a href="{% url 'logout' %}">Log out</a>
		<form action="" enctype="multipart/form-data" method="POST">{% csrf_token %}
			<div style="margin:0 auto; width:300px; padding:10px;">
				{{form.as_p}}
				<input type="submit" value="Update" style="margin:0 auto; width:80px;"/>
			</div>
		</form>
{% else %}
<a href="{% url 'avtoriz' %}">You must authorize</a>
<a href="{% url 'registr' %}">or register</a>
{% endif %}
{% endblock %}