{% extends "reader/base.html" %}

{% block title %}Author{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<p>You are already in as:{{user.username}}</p>
<a href="{% url 'logout' %}">Log out</a><br>
<a href="{% url 'allauthors' %}">Main page</a>
{% else %}

	<div class="container-fluid">
		<form action="{% url 'avtoriz' %}" method="post" class="list-group-item">
			{% csrf_token %}
			<div class="form-group">
				{{ form.as_p }}
			</div>
			<input type="submit" value="Send" class="btn btn-default btn-lg"/>
		</form>
	</div>
{% endif %}
{% endblock %}