<!DOCTYPE html>
<html>
	<head>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<meta charset="utf-8">
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
		<style>
		table{
			width:500px;
		}
		table, th, td {
			border: 1px solid black;
			border-collapse: collapse;
			padding: 5px;
			text-align: left;
		}
		</style>
		{% block head %}
			<title>{% block title %}{% endblock %}</title>
		{% endblock %}
	
	</head>
	<body>
		<div id="content">

			{% block content %}
			{% endblock %}
		</div>
		<div id="footer">
			<script>
				$(document).ready(function(){
					$("#image{{author.pk}}").click(function(){
							//alert("Text: ");
					});
				});
				$.get("http://localhost:8000/djrestfraimw/author_list_serial/",
					function(rez){
						rez.forEach(function(item){
							$("#test_list").append("<p>first name: "+item.first_name+"</p>");
						 });

				});
			</script>
		</div>
	</body>
</html>