{% extends "reader/base.html" %}

{% block title %}Register{% endblock %}
{% block content %}

	<div class="container-fluid">
		<form action="{% url 'profile' %}" method="post" class="list-group-item">
			{% csrf_token %}
			<div class="form-group">
				{{ form.as_p }}
			</div>
			<input type="submit" value="Send" class="btn btn-default btn-lg"/>
		</form>
	</div>
{% endblock %}