{% extends "reader/base.html" %}

{% block title %}Author{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="container-fluid">
	<a href="{% url 'logout' %}">Log out</a>
		<div class="row">
			<div class="col-xs-8">
				<ul role="group">
					<div class="inline ">
						<p>Author:{{ author.first_name|capfirst }} {{ author.last_name|capfirst }}</p>
						{% if  author.avatar %}
							<img style="width:200px; " src="../../media/{{ author.avatar }}" alt="{{ author.avatar }}" id="image{{author.pk}}" />
						{% endif %}
						<div style="float:right">
						<p>email:{{ author.email}}</p>
						<p>Books:</p>
							{% for book in books %}
								{% if book.author.pk == author.pk %}
									<li>{{ book.name }}</li>
								{% endif %}
							{% empty %}
								<p>No books</p>
							{% endfor %}
						</div>
					</div>
				</ul>
			</div>
						
		</div>
</div>
{% else %}
<a href="{% url 'avtoriz' %}">You must authorize</a>
<a href="{% url 'registr' %}">or register</a>
{% endif %}
{% endblock %}